<!DOCTYPE HTML>
<html lang="pl-PL">
    <head>
        <title>MyCalendar</title>
        <meta charset="UTF-8">
        <meta name="author" content="Magda Lipowska">
        <meta content="text/html; chrset=utf-8" http-equiv="Content-Type">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="/static/base.css" rel="stylesheet" media="screen">
        <script>
        $( function() {
            $( ".datepicker" ).datepicker({
              showOtherMonths: true,
              selectOtherMonths: true,
              firstDay: 1,
            });
        } );
        </script>
    </head>
    <body>
        <header>
        {% include 'my_calendar/header.html' %}
        </header>
        <div class="container content">
        {% block content %}
        {% endblock content %}
        </div>
        <footer>
        {% include 'my_calendar/footer.html' %}
        </footer>
    </body>
</html>
