<!DOCTYPE HTML>
<html lang="pl-PL">
    <head>
        <title>My Calendar</title>
        <meta charset="UTF-8">
        <meta name="author" content="Magda Lipowska">
        <meta content="text/html; chrset=utf-8" http-equiv="Content-Type">
    </head>
    <body>
        <h1>My Calendar</h1>
        {% if user.is_authenticated %}
            <p>Hey, {{ user.username }}!</p>
            <a href="{% url 'my_calendar:user_logout' %}">
                <button id="logout">Log out</button>
            </a>
        {% endif %}
        {% block content %}
        {% endblock content %}
    </body>
</html>