{% extends 'my_calendar/base.html' %}
{% load staticfiles %}
{% block content %}

{% if calendar_form.errors %}
	<div id="errors" class="alert alert-danger">
		<p>There were some errors in the information you entered. Please correct the following:</p>
		{{ calendar_form.non_field_errors }}
		<ul>
			{% for field in calendar_form %}
				{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
			{% endfor %}
		</ul>
	</div>
{% endif %}

    {% if access_denied %}
        <div>{{ access_denied }}</div>
    {% else %}
        <h2 id="calendar_name"><i class="fa fa-square" style="color:{{ calendar.color }}"></i> {{ calendar.name }}</h2>
        <hr>
        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Events</h3>
                    </div>
                    <div id="events" class="panel-body list-group">
                    {% for ev in events %}
                        <a class="list-group-item" href="{% url 'my_calendar:event_view' event_pk=ev.pk %}">
                            {{ ev.title }} - {{ ev.start|date:"d.m.Y" }}
                        </a>
                    {% empty %}
                        <p>You don't have any events in this calendar yet.</p>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Readers</h3>
                    </div>
                    <div class="panel-body list-group">
                    {% for profile in calendar.readers.all %}
                        <a class="list-group-item" href="{% url 'my_calendar:profile' username=profile.user.username %}">
                            {{ profile }}
                        </a>
                        {% empty %}
                        <p>No such users.</p>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Modifiers</h3>
                    </div>
                    <div class="panel-body list-group">
                    {% for profile in calendar.modifiers.all %}
                        <a class="list-group-item" href="{% url 'my_calendar:profile' username=profile.user.username %}">
                            {{ profile }}</a>
                        {% empty %}
                        <p>No such users.</p>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% if profile == calendar.owner %}
            <div class="col-lg-6">
                <button class="btn btn-default" id="edit_calendar"
                    onclick="formDisplay('calendar_form', 'edit_calendar', 'Edit this calendar');return false;" >
                    Edit this calendar
                </button>
                <a id="add_event" href="{% url 'my_calendar:new_event'%}?cal_pk={{ calendar.pk }}" class="btn btn-default">Add event</a>
                {% include 'my_calendar/calendar_form.html' %}
            </div>
        {% endif %}

		{% if profile in calendar.modifiers.all %}
            <div class="col-lg-6">
                <a id="add_event" href="{% url 'my_calendar:new_event'%}?cal_pk={{ calendar.pk }}" class="btn btn-default">Add event</a>
            </div>
        {% endif %}

    {% endif %}
{% endblock content %}
{% block scripts %}
<script src="{% static 'calendar_form_colors.js' %}"></script>
<script>
    const currentColor = document.getElementsByName("{{ calendar.color }}")[0];
    currentColor.classList.add("active-color-box");
    const input = document.getElementById("id_color");
    input.value = currentColor.getAttribute("name");
    const forms = ['calendar_form'];
</script>
<script src="{% static 'form_display.js' %}"></script>
{% endblock scripts %}
