{% extends 'my_calendar/base.html' %}
{% load staticfiles %}
{% block content %}

    {% if access_denied %}
        <div>{{ access_denied }}</div>
    {% else %}
        <h2 id="calendar_name"><i class="fa fa-square" style="color:{{ calendar.color }}"></i> {{ calendar.name }}</h2>
        <hr>
        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Events</h3>
                    </div>
                    <div id="events" class="panel-body list-group">
                    {% for ev in events %}
                        <a class="list-group-item" href="{% url 'my_calendar:event_view' event_pk=ev.pk %}">
                            {{ ev.title }} - {{ ev.start|date:"d.m.Y" }}
                        </a>
                    {% empty %}
                        <p>You don't have any events in this calendar yet.</p>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Readers</h3>
                    </div>
                    <div class="panel-body list-group">
                        {% for profile in calendar.readers.all %}
                            <a class="list-group-item" href="{% url 'my_calendar:profile' username=profile.user.username %}">
                                {{ profile }}
                            </a>
                            {% empty %}
                            <p>No such users.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Modifiers</h3>
                    </div>
                    <div class="panel-body list-group">
                        {% for profile in calendar.modifiers.all %}
                            <a class="list-group-item" href="{% url 'my_calendar:profile' username=profile.user.username %}">
                                {{ profile }}</a>
                            {% empty %}
                            <p>No such users.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if profile == calendar.owner %}
            <button onclick="formDisplay('calendar_form', 'edit_calendar', 'Edit this calendar');return false;" id="edit_calendar">Edit this calendar</button>

            {% if form_errors %}
                <div>{{ form_errors }}</div>
            {% endif %}

            <form method="POST" id="calendar_form">
                {% csrf_token %}
                <div>
                    <label for="id_name">Name:</label>
                    <input id="id_name" maxlength="100" name="name" type="text" required />
                </div>
                <div>
                    <label for="id_color">Choose color:</label>
                    <input id="id_color" name="color" type="hidden"/>
                </div>
                {% for color in colors %}
                    <div style="background-color: #{{ color }}; height:20px; width:20px;" class="colors" name="#{{ color }}"></div>
                {% endfor %}
                <ul id="readers">Choose users who can read your calendar:
                    {% for user in calendar_form.readers %}
                        <li>{{ user }}</li>
                    {% endfor %}
                </ul>
                <ul id="modifiers">Choose users who can modify events in your calendar:
                    {% for user in calendar_form.modifiers %}
                        <li>{{ user }}</li>
                    {% endfor %}
                </ul>
                <button type="submit" id="save_calendar">Save calendar</button>
            </form>

            <a id="add_event" href="{% url 'my_calendar:new_event' cal_pk=calendar.pk %}">Add event</a>
        {% endif %}
        <script src="{% static 'calendar_form_colors.js' %}"></script>
        <script>
            const currentColor = document.getElementsByName("{{ calendar.color }}")[0];
            currentColor.className += " active";
            const input = document.getElementById("id_color");
            input.value = currentColor.getAttribute("name");
            const forms = ['calendar_form'];
        </script>
        <script src="{% static 'form_display.js' %}"></script>
    {% endif %}
{% endblock content %}
