{% extends 'my_calendar/base.html' %}
{% load staticfiles %}
{% block user_content %}

    {% if date_errors %}
        <div>{{ date_errors }}</div>
    {% endif %}

    <a id="month" href="/month/{{ choosen_date|date:'Y-m-d' }}">Month</a>
    <a id="week" href="/week/{{ choosen_date|date:'Y-m-d' }}">Week</a>
    <a id="day" href="/day/{{ choosen_date|date:'Y-m-d' }}">1 day</a>

    <ul id="calendars">Calendars:
        {% for cal in calendars %}
            <li>
                <div id="calendar_{{ cal.pk }}" style="height:20px; width:20px; border:1px solid; background-color:{{ cal.color }}; display:inline-block;"
                onclick="displayOfEvents('calendar_{{ cal.pk }}', '{{ cal.color }}');return false;"></div>
                <a href="{% url 'my_calendar:calendar_view' cal_pk=cal.pk %}">
                  <span>{{ cal.name }}</span></a>
            </li>
        {% endfor %}
        <li>
            <div id="calendar_other" style="height:20px; width:20px; border:1px solid; background-color:#FECA5C; display:inline-block;"
            onclick="displayOfEvents('calendar_other', '#FECA5C');return false;"></div>
            <span>Others</span>
        </li>
    </ul>

    <div>
      <a id="earlier" href="/day/{{ earlier|date:'Y-m-d' }}">Earlier</a>
      <a id="later" href="/day/{{ later|date:'Y-m-d' }}">Later</a>
    </div>
    <div id="timeline" style="width:100%">
        <div id="header" style="float:left; width:100%; display:table;">
            <div style="display:table-cell;">Day:</div>
            <div style="display:table-cell;width:91%;">
                <a href="/day/{{ choosen_date|date:'Y-m-d' }}">{{ choosen_date|date:"l m/d" }}</a>
            </div>
        </div>
        <div id="all_day" style="float:left; width:100%; display:table;">
            <div style="display:table-cell;">All day:</div>
            {% for dict_ in days %}
                <div style="display:table-cell;width:91%;">
                    {% for event in dict_.events %}
                        {% if event.all_day == True %}
                            <a href="{% url 'my_calendar:event_view' event_pk=event.pk %}">
                                <div class="event calendar_{{ event.class }}"
                                    id="event-{{ event.pk }}-{{ dict_.day|date:'Y/m/d' }}"
                                    style="background-color:{{ event.color }};">
                                    {{ event.title }}</div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div id="bottom" style="float:left; width:100%; display:table;">
            <div id="hours" style="display:table-cell;">
            {% for i in range %}
            <div>{{ i }}:00</div>
            {% endfor %}
            </div>
            <div id="events" style="position:relative; display:table-cell;width:91%">
                {% for dict_ in days %}
                    {% for event in dict_.events %}
                        {% if event.all_day != True %}
                        <a href="{% url 'my_calendar:event_view' event_pk=event.pk %}">
                            <div class="event calendar_{{ event.class }}" id="event-{{ event.pk }}"
                                style="position:absolute;
                                height:calc({{ event.height }} * 100%);
                                background-color:{{ event.color }};">
                                {{ event.title }}</div>
                        </a>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        const outer_height = $("#events").height();
        let event;
        {% for dict_ in days %}
            {% for event in dict_.events %}
                event = document.getElementById("event-{{ event.pk }}");
                event.style.top = outer_height * {{ event.top }} + "px";
            {% endfor %}
        {% endfor %}
    </script>
    <script src="{% static 'display_of_events.js' %}"></script>

{% endblock %}
