{% extends 'my_calendar/base.html' %}
{% load tz %}
{% block user_content %}
{% if access_denied %}
    <p>{{ access_denied }}</p>
{% else %}
    <h2>{{ event.title }}</h2>
    <p>{{ event.desc }}</p>
    {% with event.guest.event.calendar as calendar %}
    <p>Belongs to calendar: <a href="{% url 'my_calendar:calendar_view' cal_pk=calendar.pk %}">{{ calendar.name }}</a>
    {% endwith %}
    <p>All day: {{ event.all_day }}</p>
    <p>Timezone: {{ event.get_timezone_display }}</p>
    {% timezone event.get_timezone_display %}
    <p>{{ event.start|date:"m/d/Y H:i" }}</p>
    <p>{{ event.end|date:"m/d/Y H:i" }}</p>
    {% endtimezone %}
    <p>Owner state: {{ state }}</p>
    {% with event.guest.event.calendar as calendar %}
    {% if profile == calendar.owner %}
        <button onclick="FormDisplay();return false;" id="edit_event">Edit this event</button>
        <form method="POST" id="event_form">
            {% csrf_token %}
            {{ event_form.as_p }}
            {{ state_form.as_p }}
            <button type="submit" id="save_event" onclick="EnableInputs();">Save event</button>
        </form>
    {% endif %}
    {% endwith %}
    <script>
        var form = document.getElementById("event_form");
        var button = document.getElementById("edit_event");
        form.style.display = 'none';
        function FormDisplay() {
            if (form.style.display !== 'none') {
                form.style.display = 'none';
                button.innerHTML = "Edit this event"
            }
            else {
                form.style.display = 'block';
                button.innerHTML = "Hide edition"
            }
        };
        var all_day = document.getElementById("id_all_day")
        var start_hour = document.getElementById("id_start_hour")
        var end_hour = document.getElementById("id_end_hour")
        var timezone = document.getElementById("id_timezone")
        var elements = [start_hour, end_hour, timezone]
        if (all_day.checked) {
            for (var i = 0; i < elements.length; i++) {
                    elements[i].disabled = true;
                }
        }
        all_day.onclick = function() {
            if (all_day.checked) {
                for (var i = 0; i < elements.length; i++) {
                    elements[i].disabled = true;
                }
            }
            else {
                for (var i = 0; i < elements.length; i++) {
                    elements[i].disabled = false;
                }
            }
        }
        function EnableInputs() {
            for (var i = 0; i < elements.length; i++) {
                elements[i].disabled = false;
            }
        }
            
    </script>
{% endif %}
{% endblock user_content %}