{% extends 'my_calendar/base.html' %}
{% load staticfiles %}
{% load tz %}
{% block content %}
{% if access_denied %}
    <div>{{ access_denied }}</div>
{% else %}
    <div class="row">
        <div class="col-lg-7">
            <h2 id="event_title">{{ event.title }}</h2>
            <hr>
            {% if user_is_guest %}
                <div class="form-group">
                    <form method="POST" id="attending_status_form" class="form-inline">
                        {% csrf_token %}
                        {{ attending_status_form.attending_status }}
                        <button type="submit" class="btn btn-default" id="save_attending_status" value="1"name="save_attending_status">
                            Save your attending status
                        </button>
                    </form>
                </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Event description</h2>
                </div>
                <div class="panel-body">
                    {{ event.desc }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Other details</h2>
                </div>
                <div class="panel-body">
                {% if event.all_day == True %}
                    <p>{{ event.start|date:"Y-m-d" }} to {{ event.end|date:"Y-m-d" }}</p>
                {% else %}
                    <p>Timezone: {{ event.get_timezone_display }}</p>
                    {% timezone event.get_timezone_display %}
                        <p>{{ event.start|date:"Y-m-d H:i" }} to {{ event.end|date:"Y-m-d H:i" }}</p>
                    {% endtimezone %}
                {% endif %}
                    <p><i class="fa fa-calendar fa-fw">&nbsp;</i><a href="{% url 'my_calendar:calendar_view' cal_pk=event.calendar.pk %}">
                        {{ event.calendar.name }}</a>
                    </p>
                </div><!-- panel-body -->
            </div><!-- panel -->
            {% if profile in event.calendar.modifiers.all %}
                <button id="edit_event" class="btn btn-default"
                    onclick="formDisplay('event_form', 'edit_event', 'Edit this event');return false;">
                    Edit this event
                </button>
                {% timezone event.get_timezone_display %}
                {% include 'my_calendar/event_form.html' %}
                {% endtimezone %}
            {% endif %}
        </div><!-- col-lg-7 -->
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Guests</h2>
                </div>
                <div class="panel-body">
                {% if guests %}
                    <ul>
                    {% for guest in guests %}
                        <li>
                            <a href="{% url 'my_calendar:profile' username=guest.user.user.username %}" >{{ guest.user }}:</a>
                            {{ guest.get_attending_status_display }}
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>This event has no guests</p>
                {% endif %}
                {% if profile in event.calendar.modifiers.all %}
                    <button onclick="formDisplay('guest_form', 'add_guest', 'Add guest');return false;"
                        id="add_guest" class="btn btn-default">Add guest</button>
                    <form method="POST" id="guest_form">
                        {% csrf_token %}
                        {{ guest_form.as_p }}
                        <button type="submit" class="btn btn-default" id="save_guest" value="1" name="save_guest">Save guest</button>
                    </form>
                {% endif %}
                </div><!-- panel-body -->
            </div><!-- panel -->
        </div><!-- col-lg-5 -->
    </div><!-- row -->
{% endif %}
{% endblock content %}
{% block scripts %}
<script>
    const forms = ['event_form', 'guest_form'];
    $('#id_attending_status').addClass("form-control");
</script>
<script src="{% static 'form_display.js' %}"></script>
{% endblock %}
