{% if user.is_authenticated %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><i class="fa fa-calendar fa-fw">&nbsp;</i>MyCalendar</a>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'my_calendar:profile' username=user.username %}">Profile</a></li>
                {% now "Y-m-d" as current_date %}
                <li><a href="{% url 'my_calendar:month' date=current_date %}">Timeline</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Create <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'my_calendar:new_calendar' %}">Calendar</a></li>
                        <li><a href="#">Event</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'my_calendar:user_logout' %}">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right" action="{% url 'my_calendar:search' %}" method="get" accept-charset="utf-8">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="phrase" required
                        {% if phrase %}
                            value="{{ phrase }}"
                        {% endif %}
                    />
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</nav>
{% else %}
<a href="/">
    <h1 id="id_page_title"><i class="fa fa-calendar fa-fw">&nbsp;</i>MyCalendar</h1>
</a>
{% endif %}
