{% if user.is_authenticated %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><i class="fa fa-calendar fa-fw">&nbsp;</i>MyCalendar</a>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'my_calendar:profile' username=user.username %}">Profile</a></li>
                {% now "Y" as current_year %}
                {% now "m" as current_month %}
                {% now "d" as current_day %}
                <li><a href="{% url 'my_calendar:month' year=current_year month=current_month day=current_day %}">Timeline</a></li>
                <li><a href="#">Create</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'my_calendar:user_logout' %}">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right" action="{% url 'my_calendar:search' %}" method="get" accept-charset="utf-8">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="phrase" required>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</nav>
{% else %}
<a href="/">
    <h1 id="id_page_title"><i class="fa fa-calendar fa-fw">&nbsp;</i>MyCalendar</h1>
</a>
{% endif %}
