{% extends 'my_calendar/base.html' %}
{% load staticfiles %}
{% load modulo %}
{% block content %}

{% if date_errors %}
    <div>{{ date_errors }}</div>
{% endif %}

<div class="row">
    <div class="col-lg-3">
    {% include 'my_calendar/timeline_type.html' with show_by='Month' %}
    {% include 'my_calendar/calendars_switch.html' %}
        <div>
            <a id="earlier" href="{% url 'my_calendar:month' date=earlier %}">
                <i class="fa fa-chevron-left fa-3x" aria-hidden="true"></i>
            </a>
            <a id="later" href="{% url 'my_calendar:month' date=later %}">
                <i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-9">
        <h3 class="timeline-date-range">{{ chosen_date|date:"F Y" }}</h3>
        <table class="table-bordered" id="table-month">
            <thead>
                <tr>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
            </thead>
            <tbody>
            {% for dict_ in days %}
            {% if forloop.counter0|modulo:7 == 0 %}
                <tr>
            {% endif %}
                <td>
                    <a href="{% url 'my_calendar:day' date=dict_.day %}">
                        {{ dict_.day|date:"d" }}
                    </a>
                {% for event in dict_.events %}
                    <div class="well well-supersmall calendar-{{ event.class }}">
                        <a href="{% url 'my_calendar:event_view' event_pk=event.pk %}">
                            <span style="color:{{ event.color }}">
                                {{ event.title }}
                            </span>
                        </a>
                    </div>
                {% endfor %}
                </td>
            {% if forloop.counter0|modulo:7 == 6 %}
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
{% block scripts %}
<script src="{% static 'display_of_events_on_timeline.js' %}"></script>
{% endblock scripts %}
