{% extends 'my_calendar/base.html' %}
{% load modulo %}
{% block user_content %}
<a id="month" href="/month/{{ choosen_date|date:'Y-m-d' }}">Month</a>
<a id="week" href="/week/{{ choosen_date|date:'Y-m-d' }}">Week</a>
<a id="day" href="/day/{{ choosen_date|date:'Y-m-d' }}">1 day</a>
<table>
    <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </tr>
    {% for dict_ in days %}
        {% if forloop.counter0|modulo:7 == 0 %}
            <tr>
        {% endif %}
        <td>{{ dict_.day|date:"d M" }}
        <div>
        {% for event in dict_.events %}
        <a href="{% url 'my_calendar:event_view' event_pk=event.pk %}">
            <div style="background-color:{{ event.color }};">{{ event.title }}</div></a>
        {% endfor %}
        </div>
        </td>
        {% if forloop.counter0|modulo:7 == 6 %}
            </tr>
        {% endif %}
    {% endfor %}
</table>
{% endblock %}