{% extends 'my_calendar/base.html' %}
{% load staticfiles %}
{% block content %}

{% if calendar_form.errors %}
	<!-- Error messaging -->
	<div id="errors">
		<div class="inner">
			<p>There were some errors in the information you entered. Please correct the following:</p>
			{{ calendar_form.non_field_errors }}
			<ul>
				{% for field in calendar_form %}
					{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- /Error messaging -->
{% endif %}
<div class="col-lg-6">
    <h2 class="form-signin-heading">New calendar</h2>
    <form method="POST" id="calendar_form">
        {% csrf_token %}
        <input id="id_color" name="color" type="hidden"/>
    {% for color in colors %}
        <div style="background-color: {{ color }}; border: 4px solid {{ color }}" class="color-box" name="{{ color }}"></div>
    {% endfor %}
        <input id="id_name" class="form-control" placeholder="Calendar name"
            maxlength="100" name="name" type="text" required/>
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Readers</h3>
                    </div>
                    <div class="panel-body list-group readers">
                    {% for user in calendar_form.readers %}
                        <p class="list-group-item">
                            {{ user }}
                        </p>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Modifiers</h3>
                    </div>
                    <div class="panel-body list-group modifiers">
                    {% for user in calendar_form.modifiers %}
                        <p class="list-group-item">
                            {{ user }}
                        </p>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-default">Save calendar</button>
    </form>
</div>

{% endblock content %}
{% block scripts %}
<script src="{% static 'calendar_form_colors.js' %}"></script>
<script>
    colors[0].classList.add("active-color-box");
    const input = document.getElementById("id_color");
    input.value = colors[0].getAttribute("name");
</script>
{% endblock scripts %}
