{% extends 'my_calendar/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="col-lg-6">
        <h2 class="form-signin-heading">New event</h2>
        <form method="POST" id="event_form">
            {% csrf_token %}
            <div class="form-group">
                <input id="id_title" class="form-control" placeholder="Event title"
                    maxlength="100" name="title" type="text" required/>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" max_length="1000"
                    id="id_desc" name="desc" placeholder="Event description"></textarea>
            </div>
            <div class="form-group">
                {% for calendar in event_form.calendar %}
                    {{ calendar }}
                {% endfor %}
            </div>
            <div class="form-group">
                <label>Timezone</label>
                {% for timezone in event_form.timezone %}
                    {{ timezone }}
                {% endfor %}
                <div class="checkbox">
                  <label>{{ event_form.all_day }}All-day event</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label>Start</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' id="id_start" name="start"
                            value="{{ event_form.start.value|date:"Y-m-d H:i" }}"
                            class="form-control" required />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>End</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' id="id_end" name="end"
                            value="{{ event_form.end.value|date:"Y-m-d H:i" }}"
                            class="form-control" required />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>My attending status</label>
                {% for status in attending_status_form.attending_status %}
                    {{ status }}
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-default">Save event</button>
        </form>
    </div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript">
    $(function() {
        const selects = document.getElementsByTagName("select");
        for (i = 0; i < selects.length; i++) {
            selects[i].classList.add("form-control");
        }
        $('#datetimepicker1').datetimepicker({format: 'YYYY-MM-DD HH:mm'});
    });
</script>
{% endblock scripts %}
