{% extends 'my_calendar/base.html' %}
{% load staticfiles %}
{% block content %}

{% if calendar_form.errors %}
	<div id="errors" class="alert alert-danger">
		<p>There were some errors in the information you entered. Please correct the following:</p>
		{{ calendar_form.non_field_errors }}
		<ul>
			{% for field in calendar_form %}
				{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
			{% endfor %}
		</ul>
	</div>
{% endif %}
<div class="col-lg-6">
    <h2 class="form-signin-heading">New calendar</h2>
    {% include 'my_calendar/calendar_form.html' %}
</div>

{% endblock content %}
{% block scripts %}
<script src="{% static 'calendar_form_colors.js' %}"></script>
<script>
    colors[0].classList.add("active-color-box");
    const input = document.getElementById("id_color");
    input.value = colors[0].getAttribute("name");
</script>
{% endblock scripts %}
