{% extends 'my_calendar/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="col-lg-6">
        <h2 class="form-signin-heading">New event</h2>
        {% include 'my_calendar/event_form.html' with include_status_form=True %}
    </div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript">
    $(function() {
        const selects = document.getElementsByTagName("select");
        for (i = 0; i < selects.length; i++) {
            selects[i].classList.add("form-control");
        }
        $('.datetimepicker').datetimepicker({format: 'YYYY-MM-DD HH:mm'});
    });
</script>
{% endblock scripts %}
