{% extends 'my_calendar/base.html' %}
{% load tz %}
{% block user_content %}
<h2>{{ profile.user.first_name}} {{ profile.user.last_name }}</h2>
<p>{{ profile.user.email }}</p>
<p>Timezone: {{ profile.timezone }}</p>
{% timezone profile.timezone %}
{% now "Y" as current_year %}
{% now "m" as current_month %}
{% now "d" as current_day %}
<a href="{% url 'my_calendar:month' year=current_year month=current_month day=current_day %}" id="timeline">Check out you're timeline!</a>
{% endtimezone %}
{% endblock user_content %}