{% extends 'my_calendar/base.html' %}
{% load tz %}
{% block user_content %}
<h2>{{ profile.user.first_name}} {{ profile.user.last_name }}</h2>
<p>{{ profile.user.email }}</p>
<p>Timezone: {{ profile.get_timezone_display }}</p>
{% timezone profile.get_timezone_display %}
{% now "Y" as current_year %}
{% now "m" as current_month %}
{% now "d" as current_day %}
<a id="timeline" href="{% url 'my_calendar:month' year=current_year month=current_month day=current_day %}">Check out you're timeline!</a>
{% endtimezone %}
{% if profile.user == request.user %}
    <a id="add_calendar" href="{% url 'my_calendar:new_calendar' %}">Add new calendar</a>
{% endif %}
<div id="calendars">
{% for cal in calendars %}
    <a href="{% url 'my_calendar:calendar_view' cal_pk=cal.pk %}">{{ cal.name }}</a>
{% empty %}
    <p>You don't have any calendars yet.</p>
{% endfor %}
</div>
{% endblock user_content %}