{% extends 'my_calendar/base.html' %}
{% load tz %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h2>{{ profile.user.first_name}} {{ profile.user.last_name }}</h2>
        <h4>{{ profile.user.email }}</h4>
        <h4>Timezone: {{ profile.get_timezone_display }}</h4>

        {% if profile.user == request.user %}
            {% timezone profile.get_timezone_display %}
                {% now "Y-m-d" as current_date %}
                <a id="timeline" href="{% url 'my_calendar:month' date=current_date %}">
                    Check out you're timeline!
                </a>
            {% endtimezone %}
        {% endif %}
    </div>
    {% if profile.user == request.user %}
        <div class="col-lg-5">
            <h2>Upcoming events</h2>
            {% if upcoming_events %}
                <dl id="upcoming-events" class="dl-horizontal">
                    <ul class="list-group">
                    {% for event in upcoming_events %}
                        <li class="list-group-item">
                            <dt>{{ event.start|date:"Y-m-d" }}</dt>
                            <a href="{% url 'my_calendar:event_view' event_pk=event.pk %}">
                                <dd>{{ event.title}}</dd>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </dl>
            {% else %}
                <p>You don't have any events yet.</p>
            {% endif %}
        </div>
    {% endif %}
</div>
{% if profile.user == request.user %}
    <div id="calendars" class="row">
        <div class="col-lg-6">
            <h2>My calendars</h2>
            {% if calendars %}
                {% include 'my_calendar/calendars_table.html' with calendars=calendars only %}
            {% else %}
                <p>You don't have any calendars yet.
                    <a href="{% url 'my_calendar:new_calendar' %}">Go and create a new one!</a>
                </p>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <h2>Other calendars</h2>
            {% if other_calendars %}
            {% include 'my_calendar/calendars_table.html' with calendars=other_calendars only %}
            {% else %}
                <p>You don't take part in other users' calendars. Find some friends using search bar.</p>
            {% endif %}
        </div>
    </div>
{% endif %}
{% endblock content %}
