{% extends 'my_calendar/base.html' %}
{% block content %}
<div id="search-results">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#users-tab" aria-controls="users-tab" role="tab" data-toggle="tab">
                Users
                {% if users|length %}<span class="badge">{{ users|length }}</span>{% endif %}
            </a>
        </li>
        <li role="presentation">
            <a href="#calendars-tab" aria-controls="calendars-tab" role="tab" data-toggle="tab">
                Calendars
                {% if calendars|length %}<span class="badge">{{ calendars|length }}</span>{% endif %}
            </a>
        </li>
        <li role="presentation">
            <a href="#events-tab" aria-controls="events-tab" role="tab" data-toggle="tab">
                Events
                {% if events|length %}<span class="badge">{{ events|length }}</span>{% endif %}
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active list-group" id="users-tab">
        {% for profile in users %}
            <a class="list-group-item" href="{% url 'my_calendar:profile' username=profile.user.username %}">
                {{ profile }}
            </a>
        {% empty %}
            <p>We haven't found users matching your query.</p>
        {% endfor %}
        </div>
        <div role="tabpanel" class="tab-pane list-group" id="calendars-tab">
        {% for cal in calendars %}
            <a class="list-group-item" href="{% url 'my_calendar:calendar_view' cal_pk=cal.pk %}">
                {{ cal.name }}
            </a>
            {% empty %}
                <p>We haven't found calendars matching your query.</p>
        {% endfor %}
        </div>
        <div role="tabpanel" class="tab-pane list-group" id="events-tab">
        {% for event in events %}
            <a class="list-group-item" href="{% url 'my_calendar:event_view' event_pk=event.pk %}">
                {{ event.title }}
            </a>
            {% empty %}
                <p>We haven't found events matching your query.</p>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
