<h4 id="show-by-heading">Show by:</h4>
<div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ show_by }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a id="month" href="{% url 'my_calendar:month' date=chosen_date %}">Month</a>
        </li>
        <li>
            <a id="week" href="{% url 'my_calendar:week' date=chosen_date %}">Week</a>
        </li>
        <li>
            <a id="day" href="{% url 'my_calendar:day' date=chosen_date %}">Day</a>
        </li>
    </ul>
</div>
