{% extends 'my_calendar/base.html' %}
{% load staticfiles %}
{% block content %}

{% if date_errors %}
    <div>{{ date_errors }}</div>
{% endif %}

<div class="row">
    <div class="col-lg-3">
    {% include 'my_calendar/timeline_type.html' with show_by='Week' %}
    {% include 'my_calendar/calendars_switch.html' %}
        <div>
            <a id="earlier" href="/week/{{ earlier|date:'Y-m-d' }}">Earlier</a>
            <a id="later" href="/week/{{ later|date:'Y-m-d' }}">Later</a>
        </div>
    </div>
    <div class="col-lg-9">
        <div id="timeline" style="width:100%">
            <div id="header" style="float:left; width:100%; display:table;">
                <div style="display:table-cell;">Days:</div>
            {% for dict_ in days %}
                <div style="display:table-cell;width:13%">
                    <a href="/week/{{ dict_.day|date:'Y-m-d' }}">{{ dict_.day|date:"l m/d" }}</a>
                </div>
            {% endfor %}
            </div>
            <div id="all_day" style="float:left; width:100%; display:table;">
                <div style="display:table-cell;">All day:</div>
            {% for dict_ in days %}
                <div style="display:table-cell;width:13%">
                {% for event in dict_.events %}
                {% if event.all_day == True %}
                    <a href="{% url 'my_calendar:event_view' event_pk=event.pk %}">
                        <div class="event calendar-{{ event.class }}"
                            id="event-{{ event.pk }}-{{ dict_.day|date:'Y/m/d' }}"
                            style="background-color:{{ event.color }};">
                            {{ event.title }}</div>
                    </a>
                {% endif %}
                {% endfor %}
                </div>
            {% endfor %}
            </div>
            <div id="bottom" style="float:left; width:100%; display:table;">
                <div id="hours" style="display:table-cell;">
                {% for i in range %}
                    <div>{{ i }}:00</div>
                {% endfor %}
                </div>
            {% for dict_ in days %}
                <div class="events" style="position:relative; display:table-cell;width:13%">
                {% for event in dict_.events %}
                {% if event.all_day != True %}
                    <a href="{% url 'my_calendar:event_view' event_pk=event.pk %}">
                        <div class="event calendar-{{ event.class }}"
                            id="event-{{ event.pk }}-{{ dict_.day|date:'Y/m/d' }}"
                            style="position:absolute;
                            height:calc({{ event.height }} * 100%);
                            background-color:{{ event.color }};">
                            {{ event.title }}</div>
                    </a>
                {% endif %}
                {% endfor %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block scripts %}
<script>
    const outer_height = $(".events").height();
    let event;
{% for dict_ in days %}
{% for event in dict_.events %}
{% if event.all_day != True %}
    event = document.getElementById(
    "event-{{ event.pk }}-{{ dict_.day|date:'Y/m/d' }}");
    event.style.top = outer_height * {{ event.top }} + "px";
{% endif %}
{% endfor %}
{% endfor %}
</script>
<script src="{% static 'display_of_events_on_timeline.js' %}"></script>
{% endblock scripts %}
