{% extends 'my_calendar/base.html' %}
{% block user_content %}
<a id="month" href="/month/{{ choosen_date|date:'Y-m-d' }}">Month</a>
<a id="week" href="/week/{{ choosen_date|date:'Y-m-d' }}">Week</a>
<a id="day" href="/day/{{ choosen_date|date:'Y-m-d' }}">1 day</a>
<div id="timeline" style="width:100%">
    <div id="header">
    {% for dict_ in days %}
        <div>{{ dict_.day|date:"l m/d" }}</div>
    {% endfor %}
    </div>
    <div id="bottom" style="float:left; width:100%; display:table;">
        <div id="hours" style="display:table-cell;">
        {% for i in range %}
        <div>{{ i }}:00</div>
        {% endfor %}
        </div>
        {% for dict_ in days %}
            <div class="events" style="position:relative; display:table-cell;width:13%">            
                {% for event in dict_.events %}
                <a href="{% url 'my_calendar:event_view' event_pk=event.pk %}">
                    <div class="event"
                        id="event-{{ event.pk }}-{{ dict_.day|date:'Y/m/d' }}"
                        style="position:absolute;
                        height:calc({{ event.height }} * 100%);
                        background-color:{{ event.color }};">
                        {{ event.title }}</div>
                </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
<script>
var outer_height = $(".events").height();
var event;
{% for dict_ in days %}
    {% for event in dict_.events %}
        event = document.getElementById(
            "event-{{ event.pk }}-{{ dict_.day|date:'Y/m/d' }}");
        event.style.top = outer_height * {{ event.top }} + "px";
    {% endfor %}
{% endfor %}
</script>
{% endblock %}